<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Animated Border Login Form</title>
  <link rel="stylesheet" href="../static/css/style_auth.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.1/css/all.css">
</head>
<body>

  <canvas id="neon-trail"></canvas>

  <div class="container">
    <div class="flip-card" id="flip-card">
      <!-- Tela de Login -->
      <div class="flip-card-front">
        <div class="box">
          <div class="login">
            <div class="loginBx">
              <h2>
                <i class="fa-solid fa-right-to-bracket"></i>
                <span class="text">LOGIN</span>
                <i class="fas fa-headset"></i>
              </h2>
              <div class="form-container">
                <form  method="POST" action="{{ url_for('auth.login') }}">
                  <input type="text" placeholder="Username" name="nome" required>
                  <input type="password" placeholder="Password" name="senha" required>
                  <input type="submit" value="Entrar">
                </form>
              </div>
              <div class="group">
                <a href="#">Esqueceu a senha?</a>
                <a href="#" onclick="flip()">Cadastre-se</a>
              </div>
              <!-- Mensagens de erro -->
              {% with messages = get_flashed_messages(category_filter=["login"]) %}
                {% if messages %}
                  <div class="error-message">
                    {% for message in messages %}
                      <p>{{ message }}</p>
                    {% endfor %}
                  </div>
                {% endif %}
              {% endwith %}
            </div>
          </div>
        </div>
      </div>

      <!-- Tela de Cadastro -->
      <div class="flip-card-back">
        <div class="box">
          <div class="login">
            <div class="loginBx">
              <h2>
                <i class="fa-solid fa-user-plus"></i>
                <span class="text">CADASTRO</span>
                <i class="fas fa-headset"></i>
              </h2>
              <div class="form-container">
                <form  method="POST" action="{{ url_for('auth.cadastro') }}">
                  <input type="text" placeholder="Username" name="nome" required>
                  <input type="password" placeholder="Password" name="senha" required>
                  <input type="text" placeholder="Email" name="email" required>
                  <input type="submit" value="cadastrar">
                </form>
              </div>
              <div class="group">
                <a href="#" onclick="flip()">Voltar</a>
              </div>
              <!-- Mensagens de erro -->
              {% with messages = get_flashed_messages(category_filter=["cadastro"]) %}
                {% if messages %}
                  <div class="error-message">
                    {% for message in messages %}
                      <p>{{ message }}</p>
                    {% endfor %}
                  </div>
                {% endif %}
              {% endwith %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="{{ url_for('static', filename='js/scripty_auth.js') }}"></script>
</body>
</html>