<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "base.html" %}

    {% block title %}Produtos{% endblock %}

    {% block content %}
    <h2>Nossos Produtos</h2>
    <div class="produtos">
        {% for produto in produtos %}
        <div class="produto">
            <h3><a href="{{ url_for('produto.detalhes', id=produto.id) }}">{{ produto.nome }}</a></h3>
            <p>R$ {{ "%.2f"|format(produto.preco) }}</p>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
</body>
</html>